@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>TrackPrice</title>
</head>
<body>
	<div>
		<h3>TPPPpppp</h3>
		<table>
			<tr>
				<td><p>Product</p></td>
				<td><p>Price now</p></td>
				<td><p>Desired price</p></td>
				<td></td>
			</tr>
			@foreach (var b in ViewBag.Products)
			{
				<tr>
					<td><p>@b.Link</p></td>
					<td><p>@b.PriceNow</p></td>
					<td><p>@b.DesiredPrice</p></td>
					<td><p><a href="/Home/Buy/@b.Id">Show</a></p></td>
				</tr>
			}
		</table>
	</div>
</body>
</html>